body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}

a {
	color: rgba(0, 0, 0, 0);
}

.fb-share:active, .fb-share:focus, .fb-share:hover {
	background-image: url("../images/share-hover.png");
}

#container {
/*	height: 700px;
	width: 500px;
	position: absolute;
	left: 100px;*/
}

#container2 {
	height: 500px;
	width: 700px;
	position: absolute;
	right: 100px;
}