<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Toppano - Panorama Viewer</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta property="og:title" content="Toppano - Panorama Viewer"/>
	<meta property="og:image" content="http://www.csie.ntu.edu.tw/~r03944021/PanoAPI/image/cover-min.jpg"/>
	<meta property="og:url" content="http://www.csie.ntu.edu.tw/~r03944021/PanoAPI/viewer.html"/>
	<meta property="og:site_name" content="Toppano - Panorama Viewer"/>
	<meta property="og:description" content="Panorama viewer for our office."/>

	<link href="stylesheets/viewer.css" rel="stylesheet" type="text/css">

	<script src="javascripts/toppano.min.js"></script>
	<script src="javascripts/main.js"></script>
</head>

<body>
	<div id="container"></div>
</body>

</html>
