<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Toppano - Panorama Viewer</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta property="og:title" content="Toppano - Panorama Viewer"/>
	<meta property="og:image" content="http://www.csie.ntu.edu.tw/~r03944021/PanoAPI/image/cover-min.jpg"/>
	<meta property="og:url" content="http://www.csie.ntu.edu.tw/~r03944021/PanoAPI/viewer.html"/>
	<meta property="og:site_name" content="Toppano - Panorama Viewer"/>
	<meta property="og:description" content="Panorama viewer for our office."/>

	<link href="stylesheets/viewer.css" rel="stylesheet" type="text/css">

	<script src="javascripts/toppano.min.js"></script>
</head>

<body>
	<!-- <canvas id="myCanvas" width="1500" height="1500" style="position: absolute; left: 50%; top:10%"></canvas> -->
	<div id="container"></div>

	<!-- <div id="download">
		<a href="#" download="1.jpg" target="_blank" id="downLink">
			<img src="images/download.png" height="50px" width="50px">
		</a>
	</div>-->

	<!-- <div id="Stats-output"></div> -->
	<script src="javascripts/main.js"></script>
</body>

</html>
